
body {
    font-family: 'Roboto', sans-serif; 
    background-color: #cbcbcb; 
    color: #333333; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    background-color: #333; 
    color: white;
    padding: 1rem 0;
}


.navbar-brand {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600; 
}

.nav-link {
    color: white !important; 
}

.nav-link:hover {
    color: #ff0000 !important; 
}


main {
    margin-top: 20px;
}


h1, h3 {
    font-family: 'Montserrat', sans-serif; 
    color: #2663f1; 
}

h1 {
    font-size: 2.5rem; 
    font-weight: 700;
}

h3 {
    font-size: 1.5rem; 
    font-weight: 600;
}


p {
    font-size: 1rem; 
    color: #666;
}


img {
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}




footer {
    background-color: #333; 
    color: #fff; 
    font-size: 0.9rem; 
    text-align: center;
    padding: 1rem 0;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2rem; 
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }
}

